/**************** Dark / Light Mode ****************/
.dark-light-mode {
  z-index: 100;
}
.dark-light-mode ul {
  justify-content: space-between;
}

#bd-theme {
  background-color: var(--bs-primary);
}

/**************** Card ****************/
/*--------------------------------------------------------------
# Book
--------------------------------------------------------------*/
.book .book-item {
  margin-bottom: 30px;
}

.book #book-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--bs-light);
  border-radius: 50px;
  padding: 2px 15px;
}

.book #book-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  color: var(--bs-black);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.book #book-flters li:hover,
.book #book-flters li.filter-active {
  color: var(--bs-primary);
}

.book #book-flters li:last-child {
  margin-right: 0;
}

.book .book-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.book .book-wrap::before {
  content: "";
  background: var(--bs-primary);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.book .book-wrap .book-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book .book-wrap .book-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.book .book-wrap .book-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.book .book-wrap .book-info h3 {
  font-size: 28px;
  color: var(--bs-black);
  font-weight: 900;
}

.book .book-wrap .book-info h4 {
  font-size: 12px;
  color: var(--bs-white);
  font-weight: 600;
}

.book .book-wrap .book-info span,
.book .book-wrap .book-info p {
  color: var(--bs-white);
  font-size: 10px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.book .book-wrap .book-links {
  text-align: center;
  z-index: 4;
}

.book .book-wrap .book-links a {
  color: var(--bs-white);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

/* .book .book-wrap .book-links a:hover {
  color: var(--bs-dark);
} */

.book .book-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.book .book-wrap:hover .book-info {
  opacity: 1;
}

.book .book-wrap:hover .book-info::before {
  top: 15px;
  left: 15px;
}

.book .book-wrap:hover .book-info::after {
  bottom: 15px;
  right: 15px;
}

.currently-reading {
  z-index: 3;
}