{% load static %}
{% load humanizelib %}
{% load index_tags %}

<!-- ======= Book Section ======= -->
<section id="book" class="book shadow-lg my-5 ms-4 ms-lg-2 me-4 p-5">
    <div class="container">

        <div class="section-title">
            <h1 class="text-primary mb-5">Book Library</h1>
        </div>

        {% post_categories %}

        <div class="row book-container">
          {% for book in books %}
          <div class="col-lg-4 col-md-6 book-item
          {% for cat in book.category.all %}
          filter-{{cat.name}} 
          {% endfor %}
          ">
          {% if book.status or book.reading_date_start|compare_to_now and not book.reading_date_end|compare_to_now %}
            <div class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success currently-reading">Currently Reading</div>
          {% else %}
            <div class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger currently-reading">Currently Not Reading</div>
          {% endif %}
          <a href="{{book.file.url}}" class="book-wrap d-block" target="_blank">
              <img src="{{book.cover_image.url}}" class="img-fluid" alt="{{book.name}} Image">
              <div class="book-info">
                <h3>{{book.name}}</h3>
                <h4><i class="bi bi-person-fill text-white"></i> {{book.author}}</h4>
                <div class="d-flex gap-2">
                  {% for cat in book.category.all %}
                    <span class="text-white"><i class="bi bi-tag text-white"></i> {{cat.name}}</span>
                  {% endfor %}
                </div>
                <p class="text-white">{% if book.reading_date_start %}{{book.reading_date_start|naturaltime}}{% else %}(Not set){% endif %} - {% if book.reading_date_end %}{{book.reading_date_end|naturaltime}}{% else %}(Not set){% endif %}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
    </div>
</section>

<!-- ======= End Book Section ======= -->
