{% load static %}
{% load index_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Manager</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <!-- CSS Vendors -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/aos/css/aos.css' %}">
    <!-- Index CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <!-- Navbar and Header -->
    {% include 'index/index-navbar.html' %}

    <!-- Dark Mode -->
    <div class="dark-light-mode dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
        <i class="bi bi-moon-stars-fill"></i>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
            <i class="bi me-2 theme-icon bi-sun-fill"></i>
            Light
            <i class="bi ms-auto bi-check"></i>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <i class="bi me-2 theme-icon bi-moon-stars-fill"></i>
            Dark
            <i class="bi ms-auto bi-check"></i>
          </button>
        </li>
      </ul>
    </div>

    <!-- Main -->
    <main>
      {% if user.is_authenticated %}
          {% user_books user.get_username %}
      {% else %}
          <p>Welcome, new user. Please log in.</p>
      {% endif %}
    </main>

    <!-- JS Vendors -->
    <script src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/js/aos.js' %}"></script>
    <script src="{% static 'vendor/isotope-docs/isotope.pkgd.min.js' %}"></script>
    
    <!-- Index JS -->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>